<span class="selectStyle" tabindex="-1" ng-blur="hideDrop()">

    <span class="dropdown" ng-class="{multiselectStyle: isMultiple}">

        <a class="btn-dropdown button-big" href="" title="{{value || {} | formatName:textVar}}" ng-click="toggle()">
            <span class="textWrap">{{value || {} | formatName:textVar}}</span><span class="picto down2"></span>
        </a>

        <span class="dropSelect" ng-class="{hide: !show}">

            <span ng-repeat="o in options" ng-click="clickHandler(o)">
                <!--<input ng-show="isMultiple" type="checkbox" ng-checked="o.value == value.value" />-->
                <input ng-show="isMultiple" type="checkbox" ng-checked="o.active" />
                <label>{{o[textVar]}}</label>
            </span>

            <!--<span sglk-option ng-repeat="o in options"></span>-->

        </span>

    </span>

</span>