<div class="hero-unit">

    <h1>{{product.name}}</h1>

    <p><a class="btn" href="#!/"><i class="icon-chevron-left"></i></a></p>

    <div sglk-tabs>

        <div sglk-tab text="{{l10n.detail.spec}}">

            <!--<p><img src="{{product.url}}" alt=""/></p>-->
            <p class="text-right">{{product.price | currency}}</p>
            <br>
            <p>{{product.desc}}</p>

        </div>

        <div sglk-tab text="{{l10n.detail.test}}">
            <pre>{{formConfig.predicate | json}}</pre>
        </div>

    </div>

</div>