<div class="hero-unit">

    <h1>{{product.name}}</h1>

    <p><a class="btn" href="#/list"><i class="icon-chevron-left"></i></a></p>

    <div sglk-tabs>

        <div sglk-tab text="Caractéristiques">

            <!--<p><img src="{{product.url}}" alt=""/></p>-->
            <p class="text-right">{{product.price}} €</p>
            <br>
            <p>{{product.desc}}</p>

        </div>

        <div sglk-tab text="Test">
            <pre>{{formConfig.predicate | json}}</pre>
        </div>

    </div>

</div>