<div class="hero-unit">

    <h1>List</h1>

    <form name="filterForm">

        <p>
            <!-- angular select -->
            <select ng-model="formConfig.predicate" ng-options="o.text for o in formConfig.options" required name="ngSelectFilter" class="targetWidth"></select>
            <small class="text-error" ng-show="filterForm.ngSelectFilter.$error.required">requis</small>
        </p>

        <p>
            <!-- sglk-select -->
            <span sglk-select ng-model="formConfig.predicate" data-options="formConfig.options" data-text-var="text" data-required data-name="sglkSelectFilter" class="targetWidth"></span>
            <small class="text-error" ng-show="filterForm.sglkSelectFilter.$error.required">requis</small>
        </p>

    </form>

    <ul>
        <li ng-repeat="product in products | orderBy:formConfig.predicate.value:formConfig.reverse">
            <a href="#/detail/{{product.id}}">

                <!--<img src="{{product.url}}" alt=""/>-->

                <span>{{product.name}} - {{product.price | currency:"€"}}</span>
            </a>
        </li>
    </ul>

    <pre><small>{{formConfig | json}}</small></pre>

</div>
